.generate {
    height: 150px;
    width: 150px;
    background-image: url('https://media.timeout.com/images/100626629/630/472/image.jpg');
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 1s;
  }
  
.generate:hover {
  transform: rotate(360deg);
}